p {
  margin: 0;
}

.videoItem {
  width: 400px;
  list-style: none;
  cursor: pointer;
}

.thumbnail {
  width: 400px;
}

.title {
  font-size: 17px;
  font-weight: 600;
  margin: 5px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.channel {
  font-size: 15px;
  color: #7c7c7c;
  margin-bottom: 40px;
}
